www.wobuxiang996.icu:80 {
    root /usr/src/trojan
    log /usr/src/caddy.log
    index index.html
}

www.wobuxiang996.icu:443 {
    root /usr/src/trojan
    log /usr/src/caddy.log
    index index.html
}
